.pageDiv {
  margin: auto;
  padding: 100px;
  background-color: #282c34;
  height: 100vh;
  color: white;
  font-family: 'Segoe UI';
  text-align: center;
}

.pageDiv img {
  width: 180px;
  height: 180px;
}

.welcome {
  padding: 50px;
  font-size: 26px;
  font-weight: 700;
}

.btn {
  background-color: #219ca0;
  height: 32px;
  width: 100px;
  font-size: 16px;
  color: white;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 3px 0px 3px 0px;
  border-radius: 0px;
  margin-left: 3px;
}
