:host,
.flex,
.main-container,
.webchat-container {
  height: 100%;
  width: 75%;
  overflow: hidden;
  margin: auto;
}

.flex {
  display: flex;
  height: 100%;
}

.main-container {
  flex: 3;
  background-color: #f2f2f2;
  padding: 1rem;
}

.webchat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
}

.pageDiv {
  margin: auto;
  padding: 100px;
  background-color: #282c34;
  height: 100vh;
  color: white;
  font-family: 'Segoe UI';
  text-align: center;
}

.btn {
  background-color: #219ca0;
  height: 32px;
  width: 100px;
  font-size: 16px;
  color: white;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 3px 0px 3px 0px;
  border-radius: 0px;
  margin: 10px;
}
